<!DOCTYPE html>
<html>
  <head>
    <title>TestBot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/whasting/image/upload/c_scale,w_50/v1489950827/skying-512_a0ubv5.png"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
